[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
simplejson = "*"
click = "*"
diskcache = "*"
colorama = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3"

[scripts]
blshift = "python -m blshift"
test = "python -m pytest -vx"
