[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
blshift = {editable = true, path = "."}

[packages]
requests = "*"
simplejson = "*"
click = "*"
diskcache = "*"
colorama = "*"

[requires]
python_version = "3.7"

[scripts]
blshift = "blshift"
